{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    {% if not app.user %}
        <div class="d-flex background-color-home justify-content-center align-items-center"></div>
        
        <div class="container">
            <div class="d-flex justify-content-between flex-wrap mt-4">
                <div class="col-md-1 mt-5">
                    <img class="img-home" src="https://images.pexels.com/photos/2774556/pexels-photo-2774556.jpeg?auto=compress&cs=tinysrgb&w=640&h=427&dpr=1" alt="">
                </div>

                <div class="text-h col-md-4 mt-5">
                    <h5>Lorem ipsum</h5>
                    <p>Lorem ipsum odor amet, consectetuer adipiscing elit. 
                        Penatibus laoreet metus dis blandit gravida. 
                        Diam volutpat aptent ridiculus hendrerit ridiculus lobortis nam.
                    </p>
                    <p>
                        Mus lacus ex porttitor imperdiet venenatis. 
                        Amet quisque nascetur tortor quis, etiam ipsum eu commodo.
                    </p>
                    <p>
                        Auctor est eros auctor donec aliquet ridiculus nisi scelerisque. 
                        Accumsan viverra urna nisi mattis interdum dui consequat iaculis sodales.
                    </p>
                    
                    <a class="btn btn-primary" href="{{ path('app_registration') }}" role="button">Inscrivez-vous</a>
                </div>
            </div>
        </div>
    {% else %}
    <div class="d-flex background-color-home-bis justify-content-center align-items-center">
        <div class="container">
            <h2 class="custom-text">Pour vous</h2>
            <div class="card">
                <h5 class="card-header">Featured</h5>
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
    </div>
    <div class="container">
        <h1>Hello world!</h1>
    </div>
    {% endif %} 
    
{% endblock %}
