{% extends "base.html.twig" %}

{% block title %}Mentions légales{% endblock %}

{% block body %}

<div class="d-flex justify-content-center align-items-center custom-terms">
    <div class="container">
        <h3>Mentions légales</h3>

        <h5 class="mt-5">Informations générales</h5>

        <p>Le présent site est édité par :</p>
        <p>Nom de l'entreprise, type [SAS, SARL...] au capital de [...] €</p>
        <p>[Adresse]</p>
        <p>[Téléphone]</p>
        <p>[Fax]</p>
        <p>[RCS SIREN]</p>

        <h5 class="mt-5">Directeur de la publication</h5>

        <p>[Nom du directeur]</p>

        <h5 class="mt-5">Hébergeur</h5>

        <p>[Nom de l'hébergeur]</p>
        <p>[Adresse de l'hébergeur]</p>
        <p>[Téléphone]</p>
        <p>[Fax]</p>

        <h5 class="mt-5">Données personnelles</h5>

        <p>
            Conformément à la loi informatique et libertés (article 27 de la loi n°78-17 du 6 janvier 1978), 
            vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données 
            vous concernant. Pour l’exercer, adressez votre demande à [Nom de l'entreprise], [Adresse de 
            l'entreprise].
        </p>
    </div>
</div>

{% endblock %}